<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
 <div class="login">
	<h1>Predict Marriage Age</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="gender" placeholder="gender" required="required" />
        <input type="text" name="religion" placeholder="religion" required="required" />
		<input type="text" name="caste" placeholder="caste" required="required"/>
        <input type="text" name="mother_tongue" placeholder="mother_tongue" required="required" />
        <input type="text" name="country" placeholder="country" required="required" />
		<input type="text" name="height_cms" placeholder="height_cms" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>